@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b6895b;
  }
  